%p#notice= notice

%h1 Library

%p
  %strong Name:
  = @library.name
%p
  %strong Address:
  = @library.address
%p
  %strong Number:
  = @library.number

= link_to 'Edit', edit_library_path(@library)
|
= link_to 'Back', libraries_path

%h2 Books

= render 'libraries/all'