= form_with(model: book) do |form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :title, class: "form-label fs-4"
    = form.text_field :title, class: "form-control"
  .field
    = form.label :description, class: "form-label fs-4"
    = form.text_area :description, class: "form-control"
  .field
    = form.label :price, class: "form-label fs-4"
    = form.text_field :price, class: "form-control"
  .actions.mt-4.btn.btn-info
    = form.submit
