%p#notice= notice
%p.fs-4.fw-normal
  %strong Title:
  = @book.title
%p.fs-4.fw-normal
  %strong Description:
  = @book.description
%p.fs-4.fw-normal
  %strong Price:
  = @book.price

= link_to 'Edit', edit_book_path(@book), class: 'btn btn-info'
= link_to 'Back', books_path, class: 'btn btn-info'

%h2.mt-5.text-light Reviews
= render 'books/reviews'


%div{data: {controller: 'reviews'}}
  %button.btn.btn-info{data: {action: "reviews#showAll"}} Show Older Reviews
  %div{data: {target: 'reviews.show'}, style: 'visibility:hidden'}
    = render 'books/all'