%p#notice= notice
%p.fw-lighter
  %strong Title:
  = @book.title
%p.fw-lighter
  %strong Description:
  = @book.description
%p.fw-lighter
  %strong Price:
  = @book.price

%h2.text-info Reviews
= render 'books/reviews'

= link_to 'Edit', edit_book_path(@book), class: 'btn btn-info btn-sm'
= link_to 'Back', books_path, class: 'btn btn-info btn-sm'

%div{data: {controller: 'reviews'}}
  %button{data: {action: "reviews#showAll"}} Show Older Reviews
  %div{data: {target: 'reviews.show'}, style: 'visibility:hidden'}
    = render 'books/all'